body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    /* background-color: #f2f1f2; */
    background-color:#dedcdf;
   background-image: url("paper.png");
    background-repeat: repeat;
    /* background-color: #878991;
background-image: url("https://www.transparenttextures.com/patterns/cardboard.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
   

}

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;
}


header{
    margin: 0 auto;
    height: 12%;
    background-color: #fcfcfc;
    
}

h1, h2, h3, h4,h5,h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

h1 {
    font-size: 2.5em;
}

main{
    margin-top: 5%;
    background-color: #fcfcfc;
}

.myName{
    float: left;
    font-size: 2.5em;
    background-color:#50b3aa;
    padding: 22px;
    color: #fff;
    margin-left:6px;
}

nav{
    /* float: right; */
    font-size: 1.5em;
    overflow: hidden;
}

.myNav a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  font-size: 17px;
  
}
ul{
    list-style-type: none;
    display: inline;
    float:right;
    /* margin: 10px;
    padding: 5px; */
   }
   ul li{
    margin: 20px;
    padding: 10px;
    float: left;
    border-right: 1px solid grey;
    
   }

